@import "../../../globalcss/colors.css";
@import "../../../globalcss/fonts.css";
@import "../../../globalcss/global.css";

body {
    font-family: var(--primary-font);
}

.row {
    min-width: 100vw;
    min-height: 100vh;
}

.container-fluid .row .col-xl-2 {
    background-color: var(--totalcart-color);
}

/** Trader Panel Column **/
.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .nav-item .active {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.207);
}

.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .panel-links .nav-link {
    color: var(--gental-white);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.207);
    padding: 1rem 0rem;
}

.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .panel-links .nav-link:hover {
    color: var(--primary-color);
}

.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .panel-links .nav-link i {
    margin-left: 1rem;
    margin-right: 0.3rem;

}

.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .panel-links .nav-link .fa-tachometer-alt,
.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .panel-links .nav-link .fa-tv {
    margin-right: 0.1rem;
}


.container-fluid .row .col-xl-2 .sidebar-container .menubar .nav .panel-links .nav-link .fa-arrow-circle-left {
    margin-right: 0.3rem;
}



/** Add Product Container Column **/

main .container-fluid .row .col-xl-10 {
    background-color: rgb(251, 251, 251);
}


/** Header Profile Section **/
main .container-fluid .row .col-xl-10 .user-profile-header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    box-shadow: 5px 0px 15px rgb(208, 208, 208);
}

main .container-fluid .row .col-xl-10 .user-profile-header img {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    object-fit: cover;
    margin-right: 5rem;
    cursor: pointer;
}

main .container-fluid .row .col-xl-10 .logout-section {
    top: 10%;
    right: 3.5%;
    opacity: 0;
    pointer-events: none;
}

.block {
    opacity: 1 !important;
    pointer-events: all !important;
    animation: slide-from-down 0.3s ease-in;
}

@keyframes slide-from-down {
    0% {
        top: 9%;
    }

    100% {
        top: 10%;
    }
}

main .container-fluid .row .col-xl-10 .logout-section p {
    text-transform: uppercase;
    background-color: black;
    color: white;
    border-radius: 5px;
}

main .container-fluid .row .col-xl-10 .logout-section p .btn {
    font-weight: bold;
}

main .container-fluid .row .col-xl-10 .logout-section p::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 40%;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: black;
}

.table-container {
    width: 90%;
    margin: 3rem auto 0;
}

.table-container .note {
    font-size: 0.85rem;
}

.table-container .table {
    box-shadow: 0 0 50px 0 #d0d0d0;

}

.table thead th {
    background-color: var(--totalcart-color);
    color: white;
}


.table thead th:first-of-type {
    border-top-left-radius: 10px;
}

.table thead th:last-of-type {
    border-top-right-radius: 10px;
    overflow: hidden;
}

.table tbody tr {
    background-color: white;
}
